$off_black: #20222b;
$off-white: #a5afd7;
$dark-blue: #0a130a;
$purple: #3f9c3c;
$blue: #324f35;
$light-blue: #29352b;
//spacing
$s-size : 1.2rem;
$m-size : 1.6rem;
$l-size : 3.2rem;
$xl-size : 4.8rem;
$desktop-breakpoint : 45rem;